@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-background: #fff;
    --foreground: 0 0% 3.9%;

    --primary: #2ec4b6;
    --primary-foreground: 0 0% 98%;

    --secondary: #cbf3f0;
    --secondary-foreground: 0 60% 60%;

    --text: #0d1b2a;
    --heading-text: #1b263b;
    --text-foreground: #1b263b;

    --negative: #e46055;
    --positive: #69a3c7;
    --black: #1c1c1e;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
